/*---------  default styles (from iws2_0.css) ---------*/
body      {background-color: #ffffff; color: #000000; font: normal 11px Verdana, Arial, Helvetica;}
a         {font-size: 11px;font: Verdana, Arial, Helvetica; text-decoration: underline;}
.dark-background {background-color: #000066; }
.light-background { background-color: #ffff66; }
table {	font-size: 1em;}

/*---------  default styles (Phoenix) ---------*/
td        {font: normal 10pt Arial, Helvetica, sans-serif;}
td.border {background-color: #999999;}


/*--------- banner styles (from iws2_0.css) ---------*/
td.site-title          {color:#FFFFFF; font : bold 12pt Arial, Helvetica, sans-serif;}
td.app-title           {color:#FFFFFF; font : bold 12pt Arial, Helvetica, sans-serif;}
td.page-title          {color: Black;  font: bold 10pt Arial, Helvetica, sans-serif;}
table.menubar          {color:#ffffff; background-color: #000066;}
td.menubar             {color:#ffffff; font: bold 9pt Arial,Helvetica,sans-serif;}
td.menubar-separator   {color:#ffff66; font: bold 9pt Arial,Helvetica,sans-serif;}
td.menubar-highlighted {color:#004e9e; font: bold 8pt Verdana, Arial, Helvetica;}
td.menubar-disabled    {color:#999999; font: bold 9pt Arial,Helvetica,sans-serif;}
a.homemenubar          {color:#004e9e; font: bold 8pt Verdana, Arial, Helvetica; text-decoration: none;}
a.menubar              {color:#ffff66; font: bold 9pt Arial,Helvetica,sans-serif; text-decoration: none;}
a.menubar:hover        {color:#ffffff; text-decoration: underline;}
td.leftnav	       {background-color: #DDE1E6;left:0px;width:163px}

/*--------- action styles (from iws2_0.css) ---------*/
body.actions      {background-color: #DDE1E6; }
table.actions     {background-color: #DDE1E6; padding-bottom : 2px;  padding-top : 2px;}
td.actions-title  {background-color: #313da4; color: #ffffff; font: bold 11px Verdana,Arial,Helvetica; text-align : center; }

a.action              {background-color: #DDE1E6; color: #313da4; font: bold 11px Arial,Helvetica,sans-serif; text-decoration: none; }
a.action:hover        {color: #EDBA4D;}
td.action             {background-color: #DDE1E6; color: #313da4; font-size: 11px; }
td.action-highlighted {color: #ffffff; font-weight: bold;; font-size: 12px; background-color: #000066; }

td.action-disabled  {background-color: #DDE1E6; color: #999999; font: bold 9pt Arial,Helvetica,sans-serif;}
td.action-hidden    {background-color: #DDE1E6; color: #000066; font: bold 9pt Arial, Helvetica, sans-serif; }

td.action-separator {background-color: #ffffff; color: #FFFFFF; font: normal 1px Arial, Helvetica, sans-serif;}

/*--------- action styles (Phoenix)---------*/
body.actions        {background-color: #ffffff;}               /* overriden due to phoenix's narrower menu.  */

body.header-actions {background-color: #ffffff;}                /* TODO replace this with a iws style */
td.actions          {background-color: #DDE1E6;font-size:11px}  /* TODO replace this with a iws style */

/*--------- local area navigation/action styles (from iws2_0.css) ---------*/
td.nav-action             {font-color: #313da4; background-color: #DDE1E6; font-weight:bold; font-family:  Arial,Helvetica,sans-serif; padding-bottom : 1px; padding-top : 1px;}
td.nav-action-title       {color: #ffffff; background-color: #313da4; font: bold 11px Verdana,Arial,Helvetica;  text-align : center; }
td.nav-action-disabled    {color: #666666; background-color: #003399; font: normal 9pt Arial,Helvetica,sans-serif; padding-bottom : 1px; padding-top : 1px;}
td.nav-action-highlighted {color: #ffffff; background-color: #003399; font: normal 9pt Arial,Helvetica,sans-serif; padding-bottom : 1px; padding-top : 1px;}
td.nav-action-separator   {color: #ffffff; background-color: #003399; font: normal 1px Arial, Helvetica, sans-serif;}
a.nav-action              {color: #313da4; background-color: #DDE1E6; font: bold 11px Verdana,Arial,Helvetica,sans-serif; text-decoration: none; padding-bottom : 1px; padding-top : 1px;}
a.nav-action:hover        {text-decoration: underline;}


/*--------- content styles ---------*/
body.content {background-color: #ffffff;}

/* table styles */
tr.table-header {background-color: #ffffff}
td.text-plain   {color: #000000; font-weight: normal;font-size:11px;border-right:1px solid  #C0C8D0; padding:0px 0px 0px 5px;}
td.table-header {color: #000000;align:center; font-weight: bold; background-color: #ffffff; font-size:11px;border-right:1px solid  #C0C8D0;border-bottom:1px solid  #C0C8D0;}
td.text-bold    {color: #000000; font: bold 11px Verdana, Arial, Helvetica ;}
td.Deletedtext-bold    {color: #6F6F6F; font-weight: bold;}

td.data				{color: #000000; font: normal 11px Verdana, Arial, Helvetica;padding:2px 0px 2px 0px;}
td.headerData		{color: #000000; font-size: 11px;}
td.Deleteddata	    {color: #6F6F6F; font-size: 11px;}

tr.cell-head {color: #d3d243; background-color: #000000; font-size: 11px; font-weight: bold;}
tr.odd-cell  {color: #000000; background-color: #F7F3E7; font-size: 11px;} /*C0C8D0  #fefadf, F7F3E7*/
tr.even-cell {color: #000000; background-color: #ffffff; font-size: 11px;} 
td.cell-head {color: #d3d243; background-color: #000000; font-size: 11px; font-weight: bold;}
td.odd-cell  {color: #000000; background-color: #ffffff; font-size: 11px;border-right:1px solid  #C0C8D0;padding:0px 0px 0px 5px;}
td.even-cell {color: #000000; background-color: #F7F3E7; font-size: 11px;border-right:1px solid  #C0C8D0; padding:0px 0px 0px 5px;}


a.table-link            {color: blue; text-decoration : underline;}
a.table-link:visited    {color: blue;}
a.table-link:hover      {color: blue;}

a.nav-target {text-decoration: none;}

span.text-plain, select, input,td {
	color: #000000; font: normal 11px Verdana,Arial,Helvetica;
}
span.text-bold, select.text-bold, input.text-bold {  
	color: #000000; font: bold 11px Verdana,Arial,Helvetica;
}
span.footnote-light {color: #000000; font-weight:normal; font-size : 8pt;}

/* sort column header styles  */
td.col-sort         {color: #000000; background-color: #ffffff; font-size: 11px; font-weight: bold; text-align: center;border-right:1px solid  #C0C8D0;border-bottom:1px solid  #C0C8D0;}
a.col-sort          {color: #000000; background-color: #ffffff; font-size: 11px; font-weight: bold; text-decoration: none;}
a.col-sort:hover    {background-color: #E1D5B0;}

.rollover{
	background-color: #E1D5B0;
	text-align:center;
	color: #000000;
	font: 11px bold;
	border-right:1px solid  #C0C8D0;
	border-bottom:1px solid  #C0C8D0;
}
.rollout {
	background-color:#ffffff;
	text-align:center;
	color: #000000;
	font: 11px bold;
	border-right:1px solid  #C0C8D0;
	border-bottom:1px solid  #C0C8D0;
}

/* labels */
td.label        {color: #000000; font: normal 11px Verdana,Arial,Helvetica;}
td.Deletedlabel {color: #6F6F6F; font-size: 11px;}
td.label-bold   {color: #000000; font: bold 11px Verdana,Arial,Helvetica;}
td.Deletedlabel-bold   {color: #6F6F6F; font-size: 11px; font-weight: bold;}

/* attribute-value pairs where value is self describing */
td.vsd-attribute    {font-weight: normal;}
span.vsd-attribute  {font-weight: normal;}
td.vsd-value        {font-weight: bold;}
span.vsd-value      {font-weight: bold;}
a.vsd-value         {font-weight: bold;}

/* attribute/value pairs where name is needed for describing */
td.ndv-attribute    {font-weight: bold;}
span.ndv-attribute  {font-weight: bold;}
td.ndv-value        {font-weight: normal;}
span.ndv-value      {font-weight: normal;}
a.ndv-value         {font-weight: normal;}

/* required field indicator */
td.required-field {font-weight:bold; font-size : 12pt;}

/* set spacing */
div.linespace       {font-size: 9pt; line-height: 11px;}
div.sectionbreak    {line-height: 20px; font-size: 10pt;}
td.spacer4          {line-height: 4px; font-size: 1pt;}
td.spacer10         {line-height: 10px; font-size: 1pt;}

/* Panel Styles */
td.panel-line   { background-color: #F7F3E7;}
td.panel-title  { border: 1px solid #F7F3E7;background-color: #F7F3E7;color: #000000;font-weight: bold;	padding: 1px 5px 1px 5px;}
tr.panel-body   { background-color: #ffffff; color: #000000; font-size: 9pt; }

/* Tab Panel Styles */
td.tabPanel-selected-tab         { background-image: url(../img/STab.gif); color: #000066; font: bold 9pt Arial,Helvetica,sans-serif;}
td.tabPanel-disabled-tab         { background-image: url(../img/UTab.jpg); color: #999999; font: normal 9pt Arial,Helvetica,sans-serif;}
td.tabPanel-unselected-tab       { background-image: url(../img/UTab.jpg); color: #000066; font: normal 9pt Arial,Helvetica,sans-serif;}
a.tabPanel-unselected-tab        { color: #000066; font: bold 9pt Arial,Helvetica,sans-serif; text-decoration: none;}
a.tabPanel-unselected-tab:hover  { color: #0066cc; font: bold 9pt Arial,Helvetica,sans-serif; text-decoration: none;}
td.tabPanel-first-tab            { background-image: url(../img/FirstTab.gif); font-size: 1px;}
td.tabPanel-no-tab               { background-image: url(../img/NoTab.gif); font-size: 1px;}
td.tabPanel-no-tab-topEdge       { font-size: 1px;}
td.tabPanel-leftEdge             { background-color: #ffffff;}
span.tabPanel-selected-subtab    {color: #000000; font: bold   9pt Arial,Helvetica,sans-serif; text-decoration: none;}
a.tabPanel-unselected-subtab     {color: #0066cc; font: bold   9pt Arial,Helvetica,sans-serif; text-decoration: none;}
a.tabPanel-unselected-subtab:hover {color: #000066; font: bold   9pt Arial,Helvetica,sans-serif; text-decoration: none;}

/* Alt Color Table Styles */
span.colorTable-pagingDisabled   {color: #999999; font-size : 9px;}
a.colorTable-pagingEnabled       {color: blue;    font-size : 9px;}
a.colorTable-pagingEnabled:hover {text-decoration:underline;}

/* Footer */
span.footnote-dark {color: #000000; font-weight:normal; font-size : 9pt;}

/* Home Actions */
body.homeAction               {background-color: #DDE1E6;}
span.homeAction-sectionHeader {color: #000000; font: bold 11px Verdana,Arial,Helvetica;}
table.homeAction              {background-color: #DDE1E6;}
td.homeAction                 {color: #BD943D; background-color: #DDE1E6; font: bold 11px Verdana,Arial,Helvetica;}
td.homeAction-disabled        {color: #999999; background-color: #DDE1E6; font: bold 11px Verdana,Arial,Helvetica;}
td.homeAction-separator       {color: #000000; background-color: #DDE1E6; font: normal 2px Verdana,Arial,Helvetica;}
a.homeAction                  {color: #313da4; background-color: #DDE1E6; font: bold 11px Verdana,Arial,Helvetica;}
a.homeAction:hover            {color: #EDBA4D; }

/*--------- about page styles ---------*/
table.about        {color:#ffff66; background-color: #ffffff;}
td.about-appName   {color:#000000; background-color: #ffffff; font: bold   9pt Arial,Helvetica,sans-serif;}
td.about-version   {color:#000000; background-color: #ffffff; font: normal 9pt Arial,Helvetica,sans-serif;}
td.about-logo      {background-color: #ffffff; }

/*---------- print page specific styles --------*/
body.bbcontent  {background-color: #DDE1E6;; top:10px;    left: 35px; margin-left : 35px; alink: #000000; vlink: #000000;}
table.bbcontent {background-color: #DDE1E6;; top:10px;    left: 35px; alink: #000000; vlink: #000000;}
a.bbaction      {color: #ffffff; background-color: #000000; font: bold 12pt Arial,Helvetica,sans-serif; text-decoration: none;}
td.label-cell   { color: #000000; font: normal 11px Verdana,Arial, Helvetica; }

/*---------- link history styles --------*/
a.link-trail-link       { color: #313da4; font: bold; text-decoration: none; }
a.link-trail-link:hover { color: #F87424; font: bold; text-decoration: none; }
span.link-trail-link    { color: #000000; font: bold; }
span.link-trail-current { color: #000000; font: bold; }

/* Grouping Box Styles - Homepage Message Centers */
table.messageCenter-grouping-box            { background-color: #ffffff; }
/*td.messageCenter-grouping-box-titleHeader   { background: url('../img/dark_bar.gif'); color: #ffffff; font: bold 11px/20px Verdana, Arial, Helvetica; text-align: center; }*/
td.messageCenter-grouping-box-titleHeader   { background: url('../img/med_bar.gif'); color: #ffffff; font: bold 11px/20px Verdana, Arial, Helvetica; height: 23px;text-align:left; }

/* Grouping Box Styles - Homepage Menu Popups */
table.popup            { }
td.popup-titleHeader   { background-color: #000000; color: #ffffff; font-weight: bold; text-align: left; }

/* Color for the new promise. */
TABLE.OrderSummary	{background-color: #ffffff; border:1px solid #C0C8D0;padding:2px;}
TABLE.Schedule		{background-color: #F7F3E7;border: 1px solid #F7F3E7; }
TABLE.OrderLineItem {background-color: #ffffff; border: 1px solid #F7F3E7;padding:2px;}
/*TABLE.DeletedItems  {background-color: #dfdfdf; padding:2px;}*/

TD.HeaderLabel      {font-weight: bold}
TD.column-conforming{color: #009700;font-weight:bold;font-size: 11px;}
TD.column-new       {font-weight:bold;color: #000000;font-size: 11px;}
TD.column-missed 	{color: #CA0000;font-weight:bold;font-size: 11px;}

body {
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #000000;
	background-color: #ffffff;
	margin: 0;
	padding: 0;
}

a, a:active, a:link, a:visited {text-decoration: none;}

a:hover {text-decoration: underline;}

a.blue, a.blue:active, a.blue:link, a.blue:visited {color: #0000FF;}

#centerpanel {
	position: absolute;
	top: 127px;
	left: 150px;
	z-index: 4;
}

div.header div.content div.globalmenu {
	text-align: right;
	padding: 4px 0px 7px 0px;
	margin: 0;
}

div.header div.content div.globalmenu a {
	font-weight: bold;
	color: #004E9E;
}

div.header div.content div.globalmenu span {
	padding-right: 10px;
}

div.menu {
	position: absolute;
	top: 80px;
	left: 0px;
	height: 23px;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: #F6F2E7;
}





table.tabular {
	font-size: 1em;
	border: none;
	width: 100%;
}

table.tabular td {padding: 2px;}	

td.horzline {
	padding: 2px 2px 2px 2px;
	border-bottom: 1px solid #C0C8D0;	
}

td.verticalline{
	padding: 0px 5px 0px 0px;
	border-right: 1px solid  #C0C8D0;
}

leftpanel {
	position: absolute;
	top: 103px;
	left: 0px;
	width: 166px;
	z-index: 1;
}


leftpanel, body.leftpanel {	background: #DDE1E6;width: 165px;}

table.summaryblock {
	border: 1px solid #798A9A;
	width:90%;
	color: #000000;
	padding: 0px;
	font-size: 10px;
}

table.table-outer-border {background-color:#ffffff; border: 1px solid #C0C8D0; font: bold 11px Verdana, Arial,Helvetica;}

table.section-outer-border {border: 1px solid #F7F3E7; background-color: #FFFFFF;}

input.formbutton {
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	height: 24px;
	margin-top: 10px;
}

div.scrollable {
	border: 1px solid #79889B;
	width: 100%;
	overflow: scroll;
	padding: 0px;
	/* scrollbar */
	scrollbar-3dlight-color : #fff;
	scrollbar-darkshadow-color : #fff;
	scrollbar-highlight-color : #798A9A;
	scrollbar-shadow-color : #798A9A;
	scrollbar-arrow-color : #798A9A;
	scrollbar-face-color : #DFE3E7;
	scrollbar-track-color : #F5F6F7;
}
.headerSort {background-color:#E1D5B0;}
.headerUnsorted{background-color:#FFFFFF;}

.small {font-size: 10px; font-weight: normal;}

/*style for bullets in Message Center*/
ul{
	padding-left:1em;
	margin-left:1em;
	}

li{list-style:square absolute inside;color:#313da4;align:left}

div.windowlet {
	border: 1px solid #79889B;
	background: #FFFFFF;
	margin-bottom: 3px;
}

div.windowlet div.header {
	display: block;
	height: 23px;
	text-align:left;
	font: bold 11px/20px Verdana, Arial, Helvetica;
	color: #FFFFFF;
}

.title{
	background-color: #FFFFFF;
	color: #000000;
	font-weight: bold;
	padding: 1px 5px 1px 5px;
	}
	
#controlpanel {
	position: absolute;
	top: 103px;
	width:16%;
	height: 24px;
	padding-left: 6px;
	background-color: #DDE1E6;
	border-left: 2px solid #FFFFFF;
	z-index: 3;
}
	
#titlepanel {
	border: 1px solid #FFFFFF;
	position: absolute;
	top: 103px;
	left:167px;
	height: 24px;
	background-color: #004E9E;
	padding-left: 1px;
	color: #FFFFFF;
	z-index: 2;
	font: bold 16px/23px Verdana, Arial, Helvetica, sans-serif;
	width: 69%;
}

div.controlbar {
	font-size: 0px;
	background-color: #9AA5B4;
	padding: 6px 5px 5px 0px;
	border-bottom: 1px solid #FFFFFF;
	text-align: right;
	width:100%;
	height:24px;
	top:103px;	
}

#leftpanelmin {
	font-size: 0px;
	position: absolute;
	top: 103px;
	left: 0px;
	width: 23px;	
	background-color: #DDE1E6;
	z-index: 1;
}

td.small-text-bold{font: bold 9px Verdana, Arial, Helvetica}

/* ****************** Collapsible Panel styles******************* */
	
/*style for collapsible panel background*/
div.detailsblock {
	float: left;
	display: block;	
	border: 1px solid #F7F3E7;
	background-color: #FBFAF7;
	color: #000000;
	font-weight: normal;
}

div.main_titlebar {
	display:block;
	background-color:#E1D5B0;
	padding: 2px 0px 2px 2px;
	border: 1px solid #E1D5B0;
	width :100%;
}













.main_titlebar{
	background-image:url(../img/01.gif);
	background-position:bottom;
	background-repeat:repeat-x;
	height:22pt;
}		

.table1{
	border: solid #919cab 1px;
	font-size:13px;
}
.input{
	background-color: #FFFFFF;
	border: 1px solid #999999;
}
.input_table_queary
{
	background-color: #FFFFFF;
	border: 1px solid #999999;
}
.massage-title{
	background-image:url(../image/02.gif);
	background-position:top;
	background-repeat:repeat-x;
}
.massage-bottom{
	background-image:url(../image/02-01.gif);
	background-position:bottom;
	background-repeat:repeat-x;
}
.massage-left{
	background-image:url(../image/02.gif);
	background-position:bottom;
	background-repeat:repeat-y;
}






div.main_details {
border: 1px solid #E1D5B0;
}

table.main_details {
	padding:0px;
}

table.main-details{
	padding:0px;
	background-color: #F7F3E7;		
}

table.main-details td {
	vertical-align: middle;
	border-bottom: 1px solid #DDDDDD;
}

table.details td.line {
	vertical-align: top;
	border-right: 1px solid #DDDDDD;
}
table.main-details-1{
	padding:0px;
	background-color: #FFFFFF;		
}

table.main-details-1 td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
	height:23px
}


.summaryblock1{
	border: 1px solid #DDDDDD;		
	color: #000000;
	padding: 0px;
	font-size: 10px;
}

div.details_sep {
	border: 1px solid #999;
	margin: 0px;
}

div.subPanel_details{
	border: 1px solid #efe8d5;
}
	
div.subPanel_titlebar{
	display:block; 
	background-color:#efe8d5; 
	border: 1px solid #E1D5B0;
	border-bottom: none;
	padding: 2px 0px 2px 2px;	
	float:left;
	width :100%;
}

.subPanel_titlebar {
	background-color:#efe8d5;
}	

div.subPanel {
	display: block;
	background-color: #ffffff;
	padding: 0px;
	border: 1px solid #efe8d5;	
	border-bottom: 1px solid #999;
	float:left;
}


table.subPanel_details {
width: 100%;
}
table.subPanel_details tr {
	background-color: #FFFFFF;
}

table.sub-details{
	padding:0px;	
}

table.sub-details td {
border-bottom: 1px solid #efe8d5;
}

.sub-details_verticalline{
	border-right: 1px solid #efe8d5;
}

div.subPanel1_details{
	border: 1px solid #efe8d5;
}

div.subPanel1_titlebar{
	display:block; 
	background-color:#F7F3EA; 
	border: 1px solid #efe8d5;
	border-bottom: none;
	padding: 2px 0px 2px 2px;	
	width :100%;
}

.subPanel1_titlebar{
	background-color:#F7F3EA;
}	

div.subPanel1{
	display: block;
	background-color: #ffffff;
	padding: 0px;
	border: 1px solid #efe8d5;
	margin-right: 20px;
	margin-left: 20px;
}

table.subPanel1_details{
width : "100%";	
}


table.subPanel1_details tr{
	background-color: #FFFFFF;
}

table.sub1-details{
	padding:0px;	
}

table.sub1-details td {
	border-bottom: 1px solid #efe8d5;
}

div.sub1details_sep {
	border: 1px solid #bbbbbb;
	margin:0px;
}

div.deletedItems_Main_details{
	border: 1px solid #efe8d5;
}

div.deletedItems_Main{
	display: block;
	background-color: #dfdfdf;
	color:#666666;
	padding: 0px;
	border: 1px solid #efe8d5;	
	border-bottom: 1px solid #999;
	float:left;	
}	

table.deletedItems_Main_details {
	width: 100%;
}
table.deletedItems_Main_details tr {
	background-color: #dfdfdf;
}
div.deletedItems_Main_titlebar {
	display:block;
	background-color:#E1D5B0;
	padding: 2px 0px 2px 2px;
	border: 1px solid #E1D5B0;
	width :100%;
	color:#6F6F6F;
}

.deletedItems_Main_titlebar{
	background-color:#E1D5B0;
	color:#6F6F6F;
}

div.deletedItems_subPanel_details{
	border: 1px solid #efe8d5;
}

div.deletedItems_subPanel{
	display: block;
	background-color: #dfdfdf;
	color:#666666;
	padding: 0px;
	border: 1px solid #efe8d5;	
	border-bottom: 1px solid #999;
	float:left;	
}	

table.deletedItems_subPanel_details {
	width: 100%;
}
table.deletedItems_subPanel_details tr {
	background-color: #dfdfdf;
}

div.deletedItems_subPanel_titlebar{
	display:block; 
	background-color:#efe8d5; 
	border: 1px solid #E1D5B0;
	border-bottom: none;
	padding: 2px 0px 2px 2px;	
	float:left;
	width :100%;
	color:#6F6F6F;
}

.deletedItems_subPanel_titlebar {
	background-color:#efe8d5;
	color:#6F6F6F;
}

div.deletedItems_subPanel1_details{
	border: 1px solid #efe8d5;
}

div.deletedItems_subPanel1_titlebar{
	display:block; 
	background-color:#F7F3EA; 
	border: 1px solid #efe8d5;
	border-bottom: none;
	padding: 2px 0px 2px 2px;	
	width :100%;
	color:#6F6F6F;
}

.deletedItems_subPanel1_titlebar{
	background-color:#F7F3EA;
	color:#6F6F6F;
}	

div.deletedItems_subPanel1{
	display: block;
	background-color: #dfdfdf;
	color:#666666;
	padding: 0px;
	border: 1px solid #efe8d5;	
	border-bottom: 1px solid #999;
	float:left;	
}

table.deletedItems_subPanel1_details{
	width : 100%;	
}

table.deletedItems_subPanel1_details tr{
	background-color: #dfdfdf;
}

.value {
	text-align: left;
	vertical-align: top;
	font-weight: normal;
	padding:2px 0px 2px 0px;
}

/*Start: Expand All/Collapse All styles*/
table.switch_view td {
	text-align: center;
	padding: 3px 3px 3px 0px;
	white-space: nowrap;
	border: none;
}

a.switch_view {
	font-size: 11px;
	color: #000000;
	padding: 1px;
	border: 2px solid #CCCCCC;
	background-color: #FFFFFF;
	white-space: nowrap;
}

a.switch_view:hover {
	text-decoration: none;
	background-color: #E1D5B0;
}

td.hline {
	border-bottom:1px solid #efe8d5;
}
td.vline {
 	border-right: 1px solid #efe8d5;
}
	
table.main-details-1 td.label {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
	height:23px;
	color: #000000; font: normal 11px Verdana,Arial,Helvetica;
}	

table.main-details-1 td.text-bold {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
	height:23px;
	color: #000000; font: bold 11px Verdana, Arial, Helvetica ;
	
}
table.main-details-1 td.label-last {
	vertical-align: top;
	height:23px;
	color: #000000; font: normal 11px Verdana,Arial,Helvetica;
}	

table.main-details-1 td.text-bold-last {
	vertical-align: top;
	height:23px;
	color: #000000; font: bold 11px Verdana, Arial, Helvetica ;
}	

/* OLV-3.5 */
td.mismatch-highlighted-label    {color: #FF3366; font: bold 11px Verdana,Arial,Helvetica;}

table.messageCenter          { background-color: #ffffff; }
table.message-border {	border: 1px solid #79889B; background: #FFFFFF;	margin-bottom: 0px;}
td.messageCenter-titleHeader { color: #ffffff; background-color: #ffffff; font-weight: bold; }
td.messageCenter-title       { color: #000000; font:  11px Verdana,Arial,Helvetica; }
a.messageCenter-link:link   { color: #0000FF; font: 11px Verdana,Arial,Helvetica; text-decoration: none;  }
a.messageCenter-link:visited { color: #313da4;  font:  11px Verdana,Arial,Helvetica; text-decoration: none;}
a.messageCenter-link:hover   { color: #313da4; text-decoration:underline}
td.messageCenter-grouping-box-titleHeader   { background: "7E9BBC"; color: #ffffff; font: bold 11px/20px Verdana, Arial, Helvetica; height: 23px;text-align:left; }


.logintext {
	FONT-WEIGHT: normal; FONT-SIZE: 35px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
DIV.language {
	PADDING-RIGHT: 0px; PADDING-LEFT: 60px; FLOAT: left; PADDING-BOTTOM: 2px; PADDING-TOP: 1px
}
DIV.language A.languageicon {
	BORDER-RIGHT: #bfbfbf 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #bfbfbf 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #bfbfbf 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #bfbfbf 1px solid
}
DIV.language A.languageicon:active {
	BORDER-RIGHT: #bfbfbf 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #bfbfbf 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #bfbfbf 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #bfbfbf 1px solid
}
DIV.language A.languageicon:link {
	BORDER-RIGHT: #bfbfbf 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #bfbfbf 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #bfbfbf 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #bfbfbf 1px solid
}
DIV.language A.languageicon:visited {
	BORDER-RIGHT: #bfbfbf 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #bfbfbf 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #bfbfbf 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #bfbfbf 1px solid
}
DIV.language A.languageicon:hover {
	BORDER-RIGHT: #bfbfbf 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #bfbfbf 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #bfbfbf 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #bfbfbf 1px solid; BACKGROUND-COLOR: #f7f3e7
}

.STYLE1 {
	color: #FF0000;
	font-weight: bold;
}

.border4tag{
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #98a5b5;
	border-bottom-color: #98a5b5;
	border-left-color: #98a5b5;
}
.tdborder{
	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #FFCC33;
	border-right-color: #98a5b5;
	border-right-width: 1px;
	border-right-style: solid;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #98a5b5;
}
.tdborder00{
	background-color: #cccccc;
	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #FFCC33;
	border-right-color: #98a5b5;
	border-right-width: 1px;
	border-right-style: solid;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #98a5b5;
}
.tdborder01{
	background-color: #cccccc;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #98a5b5;
	border-right-color: #98a5b5;
	border-left-color: #98a5b5;
}
.tdborder02{
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #98a5b5;
	border-right-color: #98a5b5;
	border-left-color: #98a5b5;
}
.line{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #98a5b5;
}

.tbb{
	border: 1px solid #CCCCCC;
}
.font14{
	font-weight: bold;
	color: #333333;
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
}
.font12{
	text-align: center;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
}
.font14w{
	font-family: "ËÎÌו";
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}

.COPYRIGHT {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: black;
}

.olv_table1{
	border: solid #919cab 1px;
	font-size:12px;
}
.olv_tr1 {
	background-color:#FFFFFF;
	background-image:url(../img/bg_s.gif);
	background-position:bottom;
	background-repeat:repeat-x;
	height:20pt;
}
.olv_tr2 {
	background-color:#f3f2f2;
	background-image:url(../img/bg_s.gif);
	background-position:bottom;
	background-repeat:repeat-x;
	height:20pt;
}
.olv_topbg {
	height:22pt;
	background-image:url(../img/topBar_bg.gif);
	font-size:14px;
	font-weight:bold;
	padding-left:5px;
}