/* CSS Document */

/* CSS Document */
/* ============全局声明↓============*/
body{background:#fff; font-size:12px; font-family:宋体,Arial, Helvetica, sans-serif; margin:0 auto; color: #4C4C4C}
*{margin:0 auto;padding:0; border:none;}
input,select,textarea{font-size:12px;line-height:16px; vertical-align:middle; color:#146900; border:1px solid #B5B8C8;}
.btn_2{ background:url("images/btn_bg2.gif") no-repeat left; border:0px; color:#146900; font-size:12px; width:59px; height:22px; line-height:22px;padding-left:12px;}
.btn_4{ background:url("images/btn_bg4.gif") no-repeat left; border:0px; color:#146900; font-size:12px; width:83px; height:22px; padding-left:12px;   line-height:22px;}
.btn_5{ background:url("images/btn_bg5.gif") no-repeat left; border:0px; color:#146900; font-size:12px; width:95px; height:22px; padding-left:12px;  line-height:22px;}
.btn_6{ background:url("images/btn_bg6.gif") no-repeat left; border:0px; color:#146900; font-size:12px; width:110px; height:22px;padding-left:12px; line-height:22px;}
.other_input {border-width:0px; border:0px;}
.margin10{ padding-top:10px; padding-bottom:10px;}
img{border:0;}
ul,li{list-style-type:none; margin:0; padding:0;}
.cl{clear:both; font-size:0; line-height:0; overflow:hidden;  margin:0; padding:0; height:0;}
a{ text-decoration:none; color:#4C4C4C;}
a:hover{ text-decoration:none; color:#146900;}
.foatl{ float:left;}
.foatr{ float:right;}

.pright{ padding-right:5px;}
.menubg{ }
/*头部*/
.head{ width:947px; height:67px;}
.head .logo{ float:left; width:284px; height:67px; background:url(images/logo.jpg) no-repeat left;}
.head .head_info{ width:663px; height:67px; float:left;}
.head	.text1 {width:663px; text-align:right; height:31px; line-height:31px;}
.head	.text2 {width:663px; text-align:right; height:20px; line-height:20px;}
.head	.text3 {width:663px; text-align:right; height:16px; overflow:hidden}
.head	.login_info{ width:391px; height:20px;float:left; text-align:left; text-indent:2em;}
.head	.search { width:272px; float:left; height:20px;}
/* 导航菜单*/
.mainmenu{ display:block; width:947px; height:31px;background:url(images/menubg.gif) repeat-x; }
.mainmenu li{ float:left; background:url(images/menubg.gif) center left no-repeat; width:112px; }
.mainmenu li a{ display:block; line-height:31px; color:#fff; height:31px; text-align:center; font-size:14px; font-family:"宋体"; font-weight:bold}
.mainmenu li a:hover{ text-decoration:none; background:url(images/menubg_hot.jpg) center repeat-x;  color:#ffffff; font-size:14px; font-family:"宋体"; font-weight:bold}
.mainmenu .line{ background:url(images/menu_line.jpg) no-repeat top; height:31px; width:1px; overflow:hidden;}
.mainmenu .menu1{ width:60px;}
.mainmenu .menu3{ width:90px;}
.mainmenu .menu4{ width:150px;}


.blank{ width:2px; height:2px; overflow:hidden;}
.loginbg{ background-color:#E8E8E8;}
.btn_input{ border:1px solid #265094; background-color:#D4E1F7; color:#265094; padding-left:10px; padding-right:10px; line-height:20px; height:20px;}
.ppadding3{ padding-left:3px;}
.proclassbg{ background:url(images/productbg.gif) no-repeat; width:348px; height:181px;}
.proclassbg2{ background:url(images/productbg2.gif) no-repeat; width:76px; height:59px;}
.sproclassbg{ background:url(images/small_product.jpg) no-repeat; width:180px; height:80px;}
.img_border{ border:2px solid #cccccc}
.h20{ line-height:20px;}
.h30{ line-height:30px; height:30px;}
.h40{ line-height:40px; height:40px;}
.common_td{ padding:5px; text-indent:2em;}
.hpage{padding-right:35px; line-height:30px; height:30px;}
.title{ font-family:黑体; font-size:14px; color:#103A84; font-weight:bold; }
.margin_title{ padding-top:15px; padding-bottom:15px;}
.blank23{height:18px; line-height:18px; clear:both;}
.blank10{height:10px; line-height:10px; overflow:hidden; clear:both;}
.blank40{height:40px; line-height:40px; overflow:hidden;float:left;}
.clearboth{ clear:both;}
/*表格样式*/
.tableborder{border:1px solid #cccccc; padding:5px;}
.common_table{ border:0px solid #cccccc; background-color:#cccccc; }
.common_table td{ padding-left:5px;padding-right:3px;}
.common_title{ background-color:#ffffff; font-size:12px; color:#000000; font-family:"宋体"; font-weight:bold;height:38px;}
.common_value{ background-color:#ffffff;font-size:12px; color:#000000; font-family:"宋体"; line-height:28px; height:28px;}
.common_value2{ background-color:#F2F2F2;font-size:12px; color:#000000; font-family:"宋体"; line-height:28px; height:28px; }
.common_value3{ background-color:#efefef;font-size:12px; color:#828282; font-family:"宋体"; line-height:28px; height:28px; }

.padding15{ padding-left:35px;}
.padding5{ padding-right:5px;}


/*步骤顺序导航*/
.nav_cartbg{ background:url(images/nav_cart.jpg) no-repeat left; height:26px; width:947px; }
.nav_cartbg2{ background:url(images/nav_cart2.jpg) no-repeat left; height:26px; width:947px; }
.nav_cartbg3{ background:url(images/nav_cart3.jpg) no-repeat left; height:26px; width:947px; }
.nav_cartbg4{ background:url(images/nav_cart4.jpg) no-repeat left; height:26px; width:947px; }
.nav_carthot{ font-weight:bold; color: #fff;}

/*当前位置样式*/
.position{ background-color:#F3F3F3; line-height:29px; height:29px; border-bottom:1px solid #EEEEEE; padding-left:8px; width:939px;}
.position	li	{ float:left;   }
.position	li	a{ background:url(images/next2.gif)  no-repeat right; font-size:12px; color: #000000; float:left;  padding-right:10px;  padding-left:10px; padding-left:5px;}

.pro_content{ padding-top:5px;padding-left:5px; padding-right:5px;word-break:break-all}
.pro_table{ border:1px solid #cccccc;}


.subproclass{ font-family:"宋体"; font-size:14px; font-weight:bold; color:#638CA8}


.price1{ text-decoration: line-through; color:#ff0000;}

.help_table{ border:0px solid #cccccc; background-color:#A4EEA4}
.help_title{ background-color:#D8FBC6; font-size:12px; color:#0B4300; font-family:"宋体"; font-weight:bold;height:28px;padding-left:5px;padding-right:3px;}
.help_value{ background-color:#ffffff;font-size:12px; color:#0B4300; font-family:"宋体"; line-height:20px; height:20px;padding-left:5px;padding-right:3px;}
.help_value2{ background-color:#F2F2F2;font-size:12px; color:#0B4300; font-family:"宋体"; line-height:20px; height:20px; padding-left:5px;padding-right:3px;}

/*分页开始*/

.common	{ width:100%; text-align:right; height:30px; line-height:30px; }
.common		a{ BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 5px; BACKGROUND: #fff; PADDING-BOTTOM: 1px; MARGIN: 5px 5px 0px 0px; BORDER-LEFT: #ccc 1px solid; COLOR: #146900; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid }

.foot { width:945px; border:1px solid #A4EEA4; background-color:#fff}
.foot	.left1{ width:480px; float:left; padding:10px; line-height:20px;}
.foot	.right1{width:420px; float:right;padding:10px; text-align:right;line-height:20px;}
