/* CSS Document */
@import "css.css";
.main_content{ width:947px;}
.main_content	.step{ width:947px; line-height:26px; height:26px;  background:url(images/nav_cart.jpg) no-repeat left;}
.main_content	.step2{ width:947px; line-height:26px; height:26px;  background:url(images/nav_cart2.jpg) no-repeat left;}
.main_content	.step3{ width:947px; line-height:26px; height:26px;  background:url(images/nav_cart3.jpg) no-repeat left;}
.main_content	.step4{ width:947px; line-height:26px; height:26px;  background:url(images/nav_cart4.jpg) no-repeat left;}
.main_content		.col1{width:216px; float:left; line-height:26px; height:26px; text-align:center}
.main_content		.col2{width:235px; float:left; line-height:26px; height:26px;text-align:center}
.main_content		.col3{width:227px; float:left; line-height:26px; height:26px;text-align:center}
.main_content		.col4{width:265px; float:left; line-height:26px; height:26px;text-align:center}